# Build and Release Folders
*.exe
# air tmp
tmp
docs
# vendor
vendor
public
config
# 
data
log

.nix/

!cmds/tools/**/*.exe

# git-ssh
id_rsa
id_rsa.pub

# 
go.work
go.work.sum
# ffmpeg
tests/ffmpeg/input.mp4
tests/ffmpeg/output
tests/ffmpeg/output.mp4
